{
  "presets": [
    "next/babel",
  ],
  "env": {
    "development": {
      "plugins": ["babel-plugin-root-import","markdown-in-js/babel"]
    },
    "production": {
      "plugins": ["babel-plugin-root-import","markdown-in-js/babel"]
    }
  }
}
