{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "markdown-in-js/babel"
    ],
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "test": "./test",
          "components": "./components",
          "container": "./container",
          "utils": "./utils",
          "reducers": "./reducers"
        }
      }
    ]
  ]
  
}
